.image-blurred-edge {
    background-image: url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 5px 5px white inset;
}
