.ui.menu .item {
  padding-top: 10px !important;
    padding-right: 5px !important;
    padding-bottom: 10px !important;
    padding-left: 7px !important;
}

.year-item {
      color: white !important;
      font-size: 200% !important;
      text-decoration: underline !important;
}
